/* owe organizer container */
.oweOrgContainer {   
    font-size: 2rem;
    color: #e1e1e1;
}

.oweOrgTitle {
    margin: .6rem;
    font-family: 'Rubik', sans-serif;
    font-size: 8rem;
    text-align: center;
    scale: 1.1;
}

.oweOrgSubTitle {
    margin: -1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 3.18rem;
    text-align: center;
    scale: 1.1;
}

/* input/btn containers */
.inputBtnContainer {
    scale: 1.4;
}
/* input */
.input {
    width: 5.7rem;
    margin-top: 5rem;
    background-color: #ebf8fe;
    border: .16rem solid #0696d4;
    border-radius: .25rem;
    border-radius: .45rem;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

/* btn */
.btnContainer {
    display: flex;
    flex-direction: row;
    column-gap: .3rem;
    align-items: center;
    justify-content: center;
    margin-top: .3rem;
}
    .btn {
        padding: .1rem .15rem;
        background-color: #ebf8fe;
        border: .16rem solid #0696d4;
        border-radius: .25rem;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.15rem;
        font-weight: 600;
        color: #121212dc;
    }

/* total container */
.totalContainer {
    /* margin: 2rem; */
    margin: 4.5rem;
    scale: 1.7;
}
    .totalOwedText {
        margin: 2.3rem 0 .2rem 0;
        font-family: 'Rubik', sans-serif;
        font-size: 1.45rem;
        font-weight: 800;
        color: crimson;
        filter: grayscale(40%);
    }
    .totalText {
        margin: .05rem 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1rem;
        font-weight: 600;
    }

.finalOwing {
    font-size: 1.2rem;
    font-weight: 600;
    color: aquamarine;
    filter: grayscale(15%);
}

/* misc */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}